{% extends "base.html" %}
{% block title %}<title>Tienda</title>{% endblock %}
{% load static %}

{% block content %}

<div class="container">

    <div style="float: right;">
        {% if request.user.is_authenticated %}
            {% include "carro/widget.html" %}
        {% else %}
            <div class="aler alert-danger text-center">Login necesario</div>
        {% endif %}
    </div>

    <div class="row">

{% for prod in productos %}

    <div class="col-md-3">

    <div class="card" style="width:100%; margin: 5px 5px;">
        <img src="{{prod.imagen.url}}" class="card-img-top">

        <div class="card-body" style="text-align: center;">
            <h7 class="card-title">{{prod.nombre}}</h7>
            <p class="card-text">$ &nbsp;{{prod.precio}}</p>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'carro:agregar' prod.id %}" class="btn btn-success">Agregar al carro</a>
        </div>

    </div>

    </div>

{% endfor %}

    </div>
</div>

{% endblock %}