APScheduler==3.6.3
asgiref==3.7.2        
beautifulsoup4==4.11.1
cachetools==4.2.2     
certifi==2023.5.7     
charset-normalizer==3.1.0
Django==3.2.12
django-crispy-forms==1.14.0
idna==3.4
numpy==1.25.0
pandas==1.5.1
Pillow==9.2.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
python-dateutil==2.8.2
python-telegram-bot==13.13
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tornado==6.3.2
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.3