{% extends "base.html" %}
{% block title %}<title>Formulario blog</title>{% endblock %}
{% load static %}

{% block content %}
<body>
    <h3 style="color: whitesmoke">
        Ingrese su blog a continuación:
    </h3>
    <div class="contenedorFormulario">

        {% if "valido" in request.GET %}

        <p style = "color: whitesmoke">Consulta enviada correctamente, gracias</p>

        {% elif "novalido" in request.GET %}

        <p style = "color: whitesmoke">Falló el envío del formulario, intentalo nuevamente</p>

        {% endif %}

        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <table>
                {{ formulariob.as_table }}
                {{ formulariob.media }}
            </table>
            <input class="btn btn-secondary" type="submit", value="Enviar">
        </form>
    </div>
    
</body>   
{% endblock %}